body {
  font-family: "Ubuntu", sans-serif;
}

label,
input {
  display: block;
}

container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#imageSection {
  flex: 1 0 0;
  height: auto;
  /* https://unsplash.com/photos/a-pink-tunnel-with-a-light-at-the-end-tmq2rSAbVoY */
  background-image: url(images/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-sidebar {
  position: relative;
  background-color: rgb(0, 0, 0, 0.3);
  top: 30%;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.image-sidebar > .sidebar-logo {
  height:8vh;
  width:auto;
}

.image-sidebar > .sidebar-logo > img {
  max-width: 100%;
  max-height: 100%;
}

.image-sidebar > p {
  color: white;
  font-weight: 800;
  font-size: 2rem;
}

#formSection {
  background-color: rgb(252, 243, 250);
  flex: 2 0 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#formHeader {
  font-size: 1.4rem;
  max-width: 70%;
  margin-bottom: 3%;
}

#formHeader > p {
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1.2;
}

form > #formContent {
  background-color: rgb(252, 234, 249);
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textContainer {
  flex-basis: 100%;
}

.formText {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: 500;
}

.inputContainer {
  margin-bottom: 2%;
  flex-basis: 40%;
}

.inputContainer > label {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1%;
}

.inputContainer > input {
  width: 60%;
  padding: 8px 12px;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 4px;
}

.inputContainer > input:focus {
  outline: none;
  border: 2px solid rgb(253, 135, 234);
}

#formSection > div {
  margin-left: 5%;
}

#formSection > form > button {
  margin-left: 5%;
}

form > #formContent > * {
  margin-left: 5%;
}

#create {
  margin-top: 2%;
  background-color: rgb(255, 180, 191);
  height: 4rem;
  width: 16rem;
  border: 0;
  border-radius: 12px;
  box-shadow: 1;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
